{% extends 'randomSongs/main.html' %}	

{% block content %}

<h2 style="color: #9565AA ">Share with us your favourit sone's name so we can add it.</h1>

<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">


					<h3 id="form-title">Song Name</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="SongName">
						</div>
						<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="Suggest">
				   		</div>
					</form>

				</div>
		    </div>
		</div>
</div>

{% endblock %}